.button_component_container{
    border: 2px solid #333;
    padding: 5px;
    text-align: center;
}

.button_component_count{
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.button_component_count:hover{
    background-color: #0056b3;
}

.button_component_increment_button{
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
}

.button_component_increment_button:hover{
    background-color: #0056b3;
}